<div class="uk-section uk-section-muted uk-section-large" id="kontakt">
  <div class="uk-container">

    <div uk-grid>
      <div class="uk-width-1-2@m">
        <h1>Kontakt</h1>
        <hr class="uk-divider-small" />
      </div>

      <div class="uk-width-expand">
        <h4 class="uk-margin-remove-top">Morris Immobilien GmbH</h4>

        <address class="line-height-medium">
          <span uk-icon="icon: home" class="uk-margin-small-right"></span>
          <a href="https://www.google.de/maps/place/Buchenstraße+7,+85737+Ismaning/" class="uk-link-reset">
            Buchenstr. 7
          </a>
          <br />
          <span uk-icon="icon: location" class="uk-margin-small-right"></span>
          <a href="https://www.google.de/maps/place/Buchenstraße+7,+85737+Ismaning/" class="uk-link-reset">
            85737 Ismaning
          </a>
        </address>

        <div class="line-height-medium">
          <span uk-icon="icon: mail" class="uk-margin-small-right"></span>
          <a href="mailto:info@morris-immobilien.de" class="uk-link-reset">info@morris-immobilien.de</a><br />

          <span uk-icon="icon: phone" class="uk-margin-small-right"></span>
          <a href="tel:+49 89 203 341 47" class="uk-link-reset">(089) 203 341 47</a>
        </div>

        <p class="uk-text-meta line-height-medium">
          Geschäftsführer: Alexander Neißendorfer, Franz L. Neißendorfer<br />
          Handelsregister: Amtsgericht München HRB 158 065
        </p>

        <p class="uk-text-meta line-height-medium">
          Die Genehmigung nach § 34 Gewerbeordnung wurde durch das Landratsamt München erteilt.
          Unsere Aufsichtsbehörde ist das Landratsamt München, Mariahilfplatz 17, 81541 München.
        </p>

      </div>
    </div>

  </div>
</div>
