<div class="uk-section uk-section-muted" id="kontakt">
  <div class="uk-container">

    <div uk-grid>
      <div class="uk-width-1-1@s uk-width-1-3@m">
        <h1>Kontakt</h1>
      </div>

      <div class="uk-width-expand">
        <a href="https://www.google.de/maps/place/Buchenstraße+7,+85737+Ismaning/">
          <img src="{{ site.baseurl }}/assets/images/maps.png" alt="maps" class="uk-align-center uk-align-right@s uk-border-rounded uk-width-medium" />
        </a>
        <h2 class="uk-margin-remove-top">Morris Immobilien GmbH</h2>

        <address>
          <span uk-icon="icon: home" class="uk-margin-small-right"></span>
          Buchenstr. 7<br />
          <span uk-icon="icon: location" class="uk-margin-small-right"></span>
          85737 Ismaning
        </address>

        <span uk-icon="icon: mail" class="uk-margin-small-right"></span>
        <a href="mailto:@morris-immobilien.de" class="uk-link-reset">info@morris-immobilien.de</a><br />

        <span uk-icon="icon: phone" class="uk-margin-small-right"></span>
        <a href="tel:+49 89 203 341 47" class="uk-link-reset">(089) 203 341 47</a>

        <p>Geschäftsführer: Alexander Neißendorfer, Franz L. Neißendorfer Handelsregister: Amtsgericht München HRB 158 065</p>

        <p>Die Genehmigung nach § 34 Gewerbeordnung wurde durch das Landratsamt München erteilt. Unsere Aufsichtsbehörde ist das Landratsamt München, Mariahilfplatz 17, 81541 München.</p>

      </div>
    </div>

  </div>
</div>
