<div class="uk-section uk-section-muted uk-section-large" id="referenzen">
  <div class="uk-container">
    <div class="uk-grid-large uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
      <div>
        <h1 class="uk-heading-line">Referenzen</h1>
        <hr class="uk-divider-small">
        <p>Seit 2005 erwerben wir gemeinsam mit unseren Partnern Immobilien in Deutschland.</p>
      </div>

      <div>
        <div class="uk-child-width-1-2 uk-grid-divider" uk-grid>
          <div>
            <h3 class="uk-h6 uk-text-meta uk-margin-remove-bottom">Bayern</h3>
            <span class="uk-h3 uk-margin-remove-top uk-margin-medium-bottom">11 Objekte</span>
          </div>

          <div>
            <h3 class="uk-h6 uk-text-meta uk-margin-remove-bottom">Baden Württemberg</h3>
            <span class="uk-h3 uk-margin-remove-top uk-margin-medium-bottom">3 Objekte</span>
          </div>

          <div>
            <h3 class="uk-h6 uk-text-meta uk-margin-remove-bottom">Nordrhein-Westfalen</h3>
            <span class="uk-h3 uk-margin-remove-top uk-margin-medium-bottom">1 Objekt</span>
          </div>

          <div>
            <h3 class="uk-h6 uk-text-meta uk-margin-remove-bottom">Berlin</h3>
            <span class="uk-h3 uk-margin-remove-top uk-margin-medium-bottom">1 Objekt</span>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
