<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<title>{{ page.title }}</title>

<link href="https://fonts.googleapis.com/css?family=Lusitana:400" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/application.css" />
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/uikit.css" /> -->


<!-- UIKit v3 -->
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js"></script>
