<div class="uk-section uk-light uk-background-cover uk-padding-remove-vertical" style="background-image: url({{ site.baseurl }}/assets/images/unsplash/coline-beulin-603726.jpg)">
  <div class="uk-container" uk-height-viewport>
    <div class="Xuk-overlay-default Xuk-overlay-primary uk-position-cover"></div>

    <div class="uk-position-top uk-text-center">
      <div>
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
          <div class="uk-navbar-center">

            <ul class="uk-navbar-nav">
              <li><a href="{{ site.baseurl }}/#team" uk-scroll="offset: 50;" class="uk-button uk-button-text">Team</a></li>
              <li><a href="{{ site.baseurl }}/#referenzen" uk-scroll="offset: 50;" class="uk-button uk-button-text">Referenzen</a></li>
              <li><a href="{{ site.baseurl }}/#philosophie" uk-scroll="offset: 50;" class="uk-button uk-button-text">Philosophie</a></li>
              <li><a href="{{ site.baseurl }}/#kontakt" uk-scroll="offset: 50;" class="uk-button uk-button-text">Kontakt</a></li>
            </ul>

          </div>
        </nav>
      </div>
    </div>

    <div class="uk-position-center">
      <img src="{{ site.baseurl }}/assets/images/morris-immobilien-logo-gold-dark.png" width="320" height="160" alt="Morris Immobilien Logo Gold Dark" />
    </div>

    <div class="uk-position-bottom uk-text-center uk-padding">
      <span class="uk-icon-button" uk-icon="chevron-down"></span>
    </div>
  </div>
</div>

<div class="uk-height-large uk-background-blend-soft-light uk-background-secondary uk-background-cover uk-light uk-flex uk-flex-top" style="background-image: url({{ site.baseurl }}/assets/images/unsplash/jan-antonin-kolar-1210466.jpg)">
  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5">🏢 Immobilien Profis mit 🧡 Herz ✨</h1>
</div>
