<div class="uk-sektion uk-background-muted uk-section-nav nav-morris-brand" uk-sticky="sel-target: .uk-section-nav; cls-active: uk-navbar-sticky">
  <div class="uk-container">

    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left uk-padding-small">
        <a href="/" class="uk-link-reset">
          {% include icon.html icon="morris-immobilien" css="icon-header" %}
        </a>
      </div>

      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a href="{{ site.baseurl }}/#team" uk-scroll="offset: 100;">Team</a></li>
          <li><a href="{{ site.baseurl }}/#referenzen" uk-scroll="offset: 100;">Referenzen</a></li>
          <li><a href="{{ site.baseurl }}/#philosophie" uk-scroll="offset: 100;">Philosophie</a></li>
          <li><a href="{{ site.baseurl }}/#kontakt" uk-scroll="offset: 100;">Kontakt</a></li>
        </ul>
      </div>
    </nav>

  </div>
</div>
