<ul class="uk-flex-center uk-subnav uk-subnav-pill" uk-margin>
  {% for nav in site.data.nav %}
    {% assign is_active = nil %}
    {% assign first_item = nav.pages | first %}

    {% if page.dir contains nav.url %}
      {% assign is_active = "uk-active" %}
    {% endif %}

    <li class="{{ is_active }}"><a href="{{ site.baseurl }}/{{ nav.url }}/{{ first_item.url }}/">{{ nav.name }}</a></li>
  {% endfor %}
</ul>


{% for nav in site.data.nav %}
  {% assign is_active = nil %}

  {% if page.dir contains nav.url %}
    <ul class="uk-flex-center uk-subnav uk-subnav-divider" uk-margin>
      {% for item in nav.pages %}
        {% assign is_active = nil %}
        {% assign item_slug = "/" | append: nav.url | append: "/" | append: item.url | append: "/" %}

        {% if page.dir contains item_slug %}
          {% assign is_active = "uk-active" %}
        {% endif %}

        <li class="{{ is_active }}"><a href="{{ site.baseurl }}/{{ nav.url }}/{{ item.url }}/">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

<hr />
