<div class="uk-section uk-padding-remove-vertical" id="philosophie">
  <div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse" uk-grid>

    <div>
      <div class="uk-padding-large">

        <h1>Philosophie</h1>
        <hr class="uk-divider-small" />

        <p class="line-height-medium">
          Unsere <strong>Philosophie</strong> ist, dass jedes Projekt ein Meisterstück werden soll.
        </p>

        <p class="uk-text-small line-height-medium">
          Dementsprechend wird jeder Arbeitsschritt akribisch vorbereitet, sauber durchgeführt und kritisch kontrolliert.
          <br />
          Wir haben unser Handwerk fundiert gelernt, erledigen unsere Aufgaben mit Herzblut und reagieren auf Herausforderungen mit professioneller Routine.
          Wir streben nach permanenter Weiterentwicklung unserer Fähigkeiten, Strukturen und Strategien, damit wir für die uns anvertrauten Immobilien stets die bestmögliche Lösung finden und umsetzen können.
        </p>

        <p class="uk-text-small line-height-medium">
          Uns ist bewusst, dass wir ein sehr angenehmes Leben führen dürfen und möchten Menschen unterstützen, die dieses Glück nicht haben.
          Aufgrund dieser <strong>Verantwortung</strong> engagieren wir uns sowohl finanziell als auch durch ehrenamtliche Mitarbeit bei verschiedenen Projekten.
        </p>

      </div>
    </div>
    <div>
      <div class="uk-background-cover uk-background-secondary uk-background-blend-screen" style="background-image: url({{ site.baseurl }}/assets/images/unsplash/anton-alexandru-95007.jpg);"></div>
    </div>

  </div>
</div>
