<div class="uk-section uk-section-default uk-section-large">
  <div class="uk-container">

    <div class="uk-grid-large uk-child-width-1-2@s uk-child-width-1-4@m uk-flex-middle" uk-grid>
      <div>
        <a href="#modal-sponsor-kit" uk-toggle>
          <img src="{{ site.baseurl }}/assets/images/kit.jpg" class="image-grayscale uk-padding" alt="kit" />
        </a>
        <div id="modal-sponsor-kit" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <img src="{{ site.baseurl }}/assets/images/kit.jpg" alt="kit" />
            <p>Das Kriseninterventionsteam (KIT) übernimmt im Münchener Rettungsdienst ehrenamtlich die psychosoziale Notfallversorgung. Es betreut direkt am Einsatzort Augenzeugen sowie Beteiligte von schlimmen Unfällen oder Selbsttötungen, Opfer von Vergewaltigungen, Geiselnahmen sowie anderen Gewaltverbrechen und überbringt gemeinsam mit der Polizei unerwartete Todesnachrichten an die nächsten Angehörigen. Einer der ehrenamtlichen Einsatzkräfte des KIT ist unser Geschäftsführer Alexander Neißendorfer.</p>
          </div>
        </div>
      </div>

      <div>
        <a href="#modal-sponsor-mhw" uk-toggle>
          <img src="{{ site.baseurl }}/assets/images/mhw.jpg" class="image-grayscale uk-padding" alt="mhw" />
        </a>
        <div id="modal-sponsor-mhw" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <img src="{{ site.baseurl }}/assets/images/mhw.jpg" alt="mhw" />
            <p>Das MHW – Medizinisches Katastrophenhilfswerk Deutschland e.V. leistet mit seinen Experten weltweit schnelle und effiziente humanitäre Hilfe bei Erdbeben, Überschwemmungen und anderen Naturkatastrophen.</p>
          </div>
        </div>
      </div>

      <div>
        <a href="#modal-sponsor-ihk" uk-toggle>
          <img src="{{ site.baseurl }}/assets/images/ihk.jpg" class="image-grayscale uk-padding" alt="ihk" />
        </a>
        <div id="modal-sponsor-ihk" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <img src="{{ site.baseurl }}/assets/images/ihk.jpg" alt="ihk" />
            <p>Bei der Industrie- und Handelskammer sind wir seit vielen Jahren als Ausbilder und ehrenamtliche Prüfer für Immobilienkaufleute und Immobilienfachwirte tätig. Schulen und Bildungseinrichtungen stehen wir für Berufsinformationsabende oder Projekttage zur Verfügung, um die beruflichen Möglichkeiten in der Immobilienbranche aufzuzeigen und jungen Menschen bei ihrem Start ins Berufsleben mit Rat und Tat zur Seite zu stehen.</p>
          </div>
        </div>
      </div>

      <div>
        <a href="#modal-sponsor-worldvision" uk-toggle>
          <img src="{{ site.baseurl }}/assets/images/worldvision.jpg" class="image-grayscale uk-padding" alt="worldvision" />
        </a>
        <div id="modal-sponsor-worldvision" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <img src="{{ site.baseurl }}/assets/images/worldvision.jpg" alt="worldvision" />
            <p>Mit jedem Erwerb einer Immobilie übernehmen wir dauerhaft eine Kinderpatenschaft bei World Vision. Mit unserer monatlichen finanziellen Zuwendung wird sicher gestellt, dass das Kind Zugang zu Schulbildung, sauberem Wasser und nahrhaftem Essen erhält sowie regelmäßig ärztlich untersucht und geimpft wird. Auch die Familie des Kindes sowie die Dorfgemeinschaft werden im Hinblick auf eine nachhaltige Entwicklungsarbeit von unseren Beiträgen unterstützt, beispielsweise durch Brunnenbohrungen sowie Schulungen über Ackerbau und Hygiene. Inzwischen haben wir zahlreiche Patenkinder in Asien, Afrika und Lateinamerika, denen wir ein einigermaßen sorgenfreies Erwachsenwerden und eine Lebensperspektive ermöglichen können.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
