<div class="uk-section uk-section-default uk-padding-large">
  <div class="uk-container uk-padding-large uk-padding-remove-vertical">

    <div class="uk-grid-large uk-child-width-1-2@s uk-child-width-1-4@m uk-flex-middle" uk-grid>
      <div>
        <img src="{{ site.baseurl }}/assets/images/kit.jpg" class="image-grayscale uk-padding" alt="kit" />
      </div>

      <div>
        <img src="{{ site.baseurl }}/assets/images/mhw.jpg" class="image-grayscale uk-padding" alt="mhw" />
      </div>

      <div>
        <img src="{{ site.baseurl }}/assets/images/ihk.jpg" class="image-grayscale uk-padding" alt="ihk" />
      </div>

      <div>
        <img src="{{ site.baseurl }}/assets/images/worldvision.jpg" class="image-grayscale uk-padding" alt="worldvision" />
      </div>
    </div>

  </div>
</div>
