<div class="uk-section uk-padding-remove-vertical" id="sponsor">
  <div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse" uk-grid>
    <div>
      <div class="uk-background-cover uk-background-secondary uk-background-blend-screen" style="background-image: url({{ site.baseurl }}/assets/images/unsplash/jametlene-reskp-769516.jpg);"></div>
    </div>
    <div class="uk-padding-large uk-padding-remove-horizontal" uk-scrollspy="cls:uk-animation-fade">
      <div class="uk-padding-large">
        <p class="uk-text-uppercase uk-text-muted uk-text-small">Kriseninterventionsteam</p>
        <p class="uk-text-small line-height-medium">Das Kriseninterventionsteam (KIT) übernimmt im Münchener Rettungsdienst ehrenamtlich die psychosoziale Notfallversorgung. Es betreut direkt am Einsatzort Augenzeugen sowie Beteiligte von schlimmen Unfällen oder Selbsttötungen, Opfer von Vergewaltigungen, Geiselnahmen sowie anderen Gewaltverbrechen und überbringt gemeinsam mit der Polizei unerwartete Todesnachrichten an die nächsten Angehörigen. Einer der ehrenamtlichen Einsatzkräfte des KIT ist unser Geschäftsführer Alexander Neißendorfer.</p>
        <img src="{{ site.baseurl }}/assets/images/kit.jpg" alt="kit" width="175" height="70" />
      </div>
    </div>


    <div class="uk-padding-large uk-padding-remove-horizontal" uk-scrollspy="cls:uk-animation-fade">
      <div class="uk-padding-large">
        <p class="uk-text-uppercase uk-text-muted uk-text-small">Medizinisches Katastrophenhilfswerk Deutschland e.V.</p>
        <p class="uk-text-small line-height-medium">Das MHW – Medizinisches Katastrophenhilfswerk Deutschland e.V. leistet mit seinen Experten weltweit schnelle und effiziente humanitäre Hilfe bei Erdbeben, Überschwemmungen und anderen Naturkatastrophen.</p>
        <img src="{{ site.baseurl }}/assets/images/mhw.jpg" alt="mhw" width="175" height="50" />
      </div>
    </div>
    <div>
      <div class="uk-background-cover uk-background-secondary uk-background-blend-screen" style="background-image: url({{ site.baseurl }}/assets/images/unsplash/joshua-brown-784409.jpg);"></div>
    </div>


    <div>
      <div class="uk-background-cover uk-background-secondary uk-background-blend-screen" style="background-image: url({{ site.baseurl }}/assets/images/unsplash/mikael-kristenson-242070.jpg);"></div>
    </div>
    <div class="uk-padding-large uk-padding-remove-horizontal" uk-scrollspy="cls:uk-animation-fade">
      <div class="uk-padding-large">
        <p class="uk-text-uppercase uk-text-muted uk-text-small">IHK</p>
        <p class="uk-text-small line-height-medium">Bei der Industrie- und Handelskammer sind wir seit vielen Jahren als Ausbilder und ehrenamtliche Prüfer für Immobilienkaufleute und Immobilienfachwirte tätig. Schulen und Bildungseinrichtungen stehen wir für Berufsinformationsabende oder Projekttage zur Verfügung, um die beruflichen Möglichkeiten in der Immobilienbranche aufzuzeigen und jungen Menschen bei ihrem Start ins Berufsleben mit Rat und Tat zur Seite zu stehen.</p>
        <img src="{{ site.baseurl }}/assets/images/ihk.jpg" alt="ihk" width="175" height="87" />
      </div>
    </div>


    <div class="uk-padding-large uk-padding-remove-horizontal" uk-scrollspy="cls:uk-animation-fade">
      <div class="uk-padding-large">
        <p class="uk-text-uppercase uk-text-muted uk-text-small">worldvision</p>
        <p class="uk-text-small line-height-medium">
          Mit jedem neuen Immobilienprojekt übernehmen wir dauerhaft eine Kinderpatenschaft bei World Vision.
          Mit unserer monatlichen finanziellen Zuwendung wird sicher gestellt, dass das Kind Zugang zu Schulbildung, sauberem Wasser und nahrhaftem Essen erhält sowie regelmäßig ärztlich untersucht und geimpft wird. Auch die Familie des Kindes sowie die Dorfgemeinschaft werden im Hinblick auf eine nachhaltige Entwicklungsarbeit von unseren Beiträgen unterstützt, beispielsweise durch Brunnenbohrungen sowie Schulungen über Ackerbau und Hygiene. Inzwischen haben wir zahlreiche Patenkinder in Asien, Afrika und Lateinamerika, denen wir ein einigermaßen sorgenfreies Erwachsenwerden und eine Lebensperspektive ermöglichen können.
        </p>
        <img src="{{ site.baseurl }}/assets/images/worldvision.jpg" alt="worldvision" width="175" height="68" />
      </div>
    </div>
    <div>
      <div class="uk-background-cover uk-background-secondary uk-background-blend-screen" style="background-image: url({{ site.baseurl }}/assets/images/unsplash/larm-rmah-216854.jpg);"></div>
    </div>

  </div>
</div>
