<div class="uk-section uk-padding-remove-vertical">
  <div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse" uk-grid>

    <div>
      <div class="uk-background-cover uk-background-primary uk-background-blend-multiply" style="background-image: url({{ site.baseurl }}/assets/images/unsplash/victor-xok-615429.jpg);"></div>
    </div>
    <div class="uk-padding-large uk-padding-remove-horizontal">
      <div class="uk-padding-large">
        <h4>Herzlich Willkommen bei Morris Immobilien!</h4>
        <p class="line-height-medium">Unser Immobilienbüro betreut gewerblichen Grundbesitz mit dem Schwerpunkt Einzelhandel in Süddeutschland. Als von Vater und Sohn inhabergeführtes Unternehmen sind wir Teil des soliden bayrischen Mittelstands, der für Nachhaltigkeit, Professionalität und die Tugenden des ehrbaren Kaufmanns steht. Wir garantieren einen stets partnerschaftlichen Umgang miteinander.</p>
      </div>
    </div>

    <div class="uk-padding-large uk-padding-remove-horizontal">
      <div class="uk-padding-large">
        <p class="uk-text-uppercase uk-text-muted uk-text-small">Online und Offline</p>
        <p class="line-height-medium">Schön, dass Sie uns im Internet besuchen! Wir freuen uns, wenn wir Ihnen einen kleinen Einblick in unsere Arbeit geben können und stehen Ihnen für Ihr Anliegen gerne zur Verfügung.</p>
        <p>Ihr Team von Morris Immobilien</p>
      </div>
    </div>
    <div>
      <div class="uk-background-cover uk-background-secondary uk-background-blend-screen" style="background-image: url({{ site.baseurl }}/assets/images/unsplash/patrick-schneider-145128.jpg);"></div>
    </div>

  </div>
</div>
