---
---

$morris-brand-gold: #b8933b;

// uikit scss
$global-primary-background: $morris-brand-gold;

@import "uikit/variables-theme.scss";
@import "uikit/mixins-theme.scss";

@import "uikit/uikit-theme.scss";

// font-family: 'Lusitana', serif;
// font-family: 'Open Sans', sans-serif;

.uk-heading-primary {
  font-family: "Lusitana", serif;
  font-weight: 700;
  font-size: 2.5rem !important;
}

.icon-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;

  svg {
    fill: currentColor;
  }
}

.icon-header {
  width: 160px;
  height: 80px;
}

.icon-footer {
  width: 260px;
  height: 130px;
}

.uk-subnav-pill > .uk-active > a {
  background-color: #caaa4f !important;
  color: #fff;
}

.line-height-medium {
  line-height: 1.75;
}

.image-grayscale {
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0%);
  }
}

.nav-morris-brand {
  border-top: 3px solid #b8933b;

  .uk-link-reset {
    color: $morris-brand-gold !important;
    &:hover {
      color: $morris-brand-gold;
    }
  }
}

.uk-divider-small {
  &::after {
    border-color: $morris-brand-gold;
    border-width: 3px;
  }
}
