<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}

  {% include navigation.html %}

  <div class="uk-section uk-padding-remove-top uk-margin-medium-top">
    <div class="uk-container uk-container-small">
      <h1 class="uk-heading-primary">{{ page.title }}</h1>
      <hr class="uk-divider-small">

      {{ content }}

      {% if page.contact %}
        {% include contact.html person=page.contact %}
      {% endif %}
    </div>
  </div>

</body>
</html>
